* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #d3d3d317;
    scroll-behavior: smooth;
}

body {
    width: 1200px;
    margin: auto;
}

header {
    width: 100%;
    height: 300px;
    background: linear-gradient(270deg, #518e7e, #3ba589, #69d7dd);
    background-size: 600% 600%;
    -webkit-animation: fondo 5s ease infinite;
    animation: fondo 10s ease infinite;
}

@-webkit-keyframes fondo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fondo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.contenedor-header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header-foto img {
    border-radius: 50%;
    height: 120px;
}

.contenedor-header .header-texto h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.header-boton {
    border: 2px solid #272626;
    border-radius: 100%;
    width: 45px;
    height: 40px;
    transition: ease 2s;
    background-color: transparent;
}

.header-boton i{
    color: #272626;
}

main {
    height: auto;

}

section {
    width: 70%;
    float: right;
}

aside {
    width: 30%;
    float: left;
    border-right: 2px solid #3ba589;
    height: 2000px;
}

aside h3, .titulo-seccion {
    text-align: center;
    padding: 25px;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.contenedor-contacto p {
    margin: 10px 30px;
    font-size: 1.2rem;
    color: #272626;
}

.contenedor-contacto i {
    font-size: 1.2rem;
    padding-right: 7px;
    color: #3ba589;
}

.contenedor-skills {
    width: 300px;
    height:320px;
    margin: auto;
    border: 2px solid #3ba589;
    border-radius: 10px;
    padding: 15px;
}

.contenedor-skills .progress {
    margin: 15px;
    height: 25px;
    background-color: #c6c3c317;
}

.progress .barra {
    background-color: #46b496;
}

.progress .barra .texto-barra {
    color: #605d5d;
    font-size: 1rem;
    padding-top: 10px;
}

/* Seccion Formacion */

section {
    padding: 32px;
    margin: auto;
}

section .titulo-seccion {
    text-align: center;
    font-size: 2rem;
}

section .contenedor{
    margin: 35px;
    padding: 35px;
}

.curso {
    padding-bottom: 50px;
}

.subtitulo-seccion{
    font-size: 1.3rem;
}

.formacion-contenido {
    display: flex;
}

.formacion-contenido .desplegable {
    border: 2px solid #46b496;
    border-radius: 100%;
    width: 45px;
    height: 40px;
    transition: ease 2s;
    background-color: transparent;
    margin-left: 25px;
}    

.formacion-contenido i {
    color: #46b496;
    font-size: 1.2rem;
}

.img-section {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

footer {
    width: 100%;
    height: 200px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #518e7e;
}

.footer-iconos i{
    font-size: 2rem;
    padding: 20px;
    color: #272626;
}

.footer-texto {
    font-size: 1.2rem;
    padding: 20px;
}

.flecha-arriba {
    position: fixed;
    bottom: 60px;
    right: 70px;
    border: 2px solid #272626;
    border-radius: 100%;
    height: 50px;
    width:60px;
    background-color: #518e7e;
}

.flecha-arriba i {
    font-size: 26px;
}


/* Responsive Area */
@media all and (min-width: 768px) and (max-width: 1200px){

    body {
        width: 750px;
    }
    
    header {
        width: 750px;
        height: 200px;
    }
    
    .contenedor-header {
        width: 750px;
        height: 200px;
        padding: 1rem;
    }
    
    .header-foto img {
        height: 100px;
    }
    
    .contenedor-header .header-texto h2 {
        font-size: 2rem;
    }
    
    main {
        height: auto;
    }
    
    section {
        width: 60%;
    }

    aside {
        width: 40%;
        height: 2100px;
    }
    
    aside h3 {
        font-size: 1.8rem;
        padding-top: 55px;
    }
    
    .contenedor-contacto {
        padding-bottom: 30px;
    }
    
    .contenedor-contacto p {
        margin: 10px 20px;
    }
    
    .contenedor-skills {
        width: 250px;
        height:350px;
    }
    
    .contenedor-skills .progress {
        margin: 25px;
    }
    
    /* Seccion Formacion */
    
    section {
        padding: 25px;
    }
    
    section .contenedor{
        margin: 0px;
        padding: 5px;
    }
    
    .curso {
        padding-bottom: 100px;
    }
    
    .subtitulo-seccion{
        font-size: 1.2rem;
    }

    .formacion-contenido h4 {
        font-size: 1.2rem;
    }

    .formacion-contenido .desplegable {
        width: 65px;
    }    
    
}

@media all and (min-width: 520px) and (max-width: 767px){    
    body {
        width: 100%;
    }
    
    header {
        width: 100%;
        height: 130px;
    }
    
    .contenedor-header {
        height: 130px;
        padding: 1.3rem;
    }
    
    .header-foto img {
        display: none;
    }
    
    .contenedor-header .header-texto h2 {
        font-size: 2rem;
    }
    
    aside {
        width: 100%;
        float: none;
        border-right: 0px;
        height: auto;
    }
    
    aside h3 {
        margin-top: 40px;
    }
    
    .contenedor-contacto {
        padding-bottom: 40px;
    }
    
    .contenedor-contacto p {
        font-size: 1.5rem;
    }
    
    .contenedor-contacto i {
        font-size: 1.6rem;
        padding-right: 10px;
    }
    
    .contenedor-skills {
        width: 80%;
        height: 400px;
        margin-bottom: 30px;
    }
    
    .contenedor-skills .progress {
        margin: 30px;
    }
    
    .progress .barra .texto-barra {
        font-size: 1.2rem;
    }
    
    /* Seccion Formacion */
    section {
        width: 100%;
        float: none;
        /* padding: 0 20px; */
        margin: left;
    }
    
    section .titulo-seccion {
        margin-top: 40px;
    }
    
    section .contenedor{
        margin: 15px;
        padding: 10px;
    }
    
    .curso {
        padding-bottom: 100px;
    }
    
    .subtitulo-seccion{
        font-size: 1rem;
        padding: 2px;
    }
    
    .footer-texto {
        font-size: 1.4rem;
    }
    
}
@media all and  (min-width: 320px) and (max-width: 519px){}





